/* src/app/auth/account-management/account-management.component.scss */
.error-message {
    font-size: 0.8rem;
    margin-left: 16px;
    margin-top: 5px;
  }
  
  ion-card {
    margin-bottom: 20px;
  }