// src/app/communication/notifications/notifications.component.html
`
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="loadNotifications(); $event.target.complete()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isLoading" class="ion-text-center ion-padding">
    <ion-spinner></ion-spinner>
    <p>Loading notifications...</p>
  </div>

  <ng-container *ngIf="!isLoading">
    <ng-container *ngIf="notifications$ | async as notifications">
      <ion-list *ngIf="notifications.length > 0">
        <ion-item *ngFor="let notification of notifications" (click)="handleNotification(notification)" button detail>
          <ion-icon 
            [name]="
              notification.type === 'message' ? 'chatbox' : 
              notification.type === 'call' ? 'videocam' : 
              notification.type === 'order' ? 'cart' : 
              'notifications'
            " 
            slot="start"
            [color]="notification.read ? 'medium' : 'primary'"
          ></ion-icon>
          <ion-label [class.unread]="!notification.read">
            <h2>{{ notification.title }}</h2>
            <p>{{ notification.body }}</p>
          </ion-label>
          <ion-note slot="end">{{ formatTime(notification.timestamp) }}</ion-note>
        </ion-item>
      </ion-list>

      <div *ngIf="notifications.length === 0" class="ion-text-center ion-padding">
        <ion-icon name="notifications-off-outline" size="large" color="medium"></ion-icon>
        <h4>No Notifications</h4>
        <p>You don't have any notifications yet.</p>
      </div>
    </ng-container>
  </ng-container>
</ion-content>