// src/app/communication/notifications/notifications.component.scss
ion-content {
    --background: var(--app-background);
  }
  
  ion-list {
    background: transparent;
    padding: 0;
  }
  
  ion-item {
    --padding-start: 16px;
    --inner-padding-end: 16px;
    margin-bottom: 8px;
    border-radius: 12px;
    --background: white;
    cursor: pointer;
    box-shadow: var(--card-shadow);
  }
  
  ion-item:active {
    --background: var(--ion-color-light);
  }
  
  ion-icon {
    font-size: 24px;
    margin-right: 16px;
  }
  
  ion-item.unread {
    --background: rgba(var(--ion-color-primary-rgb), 0.05);
  }
  
  ion-item.unread ion-icon {
    color: var(--ion-color-primary);
  }
  
  ion-label h2 {
    font-weight: 600;
    margin-bottom: 4px;
    font-size: 16px;
  }
  
  ion-label.unread h2 {
    font-weight: 700;
    color: var(--ion-color-dark);
  }
  
  ion-label p {
    color: var(--ion)